aside.nav {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  transition: .3s all ease;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

aside.nav a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  vertical-align: middle;
  transition: all .3s;
}

aside.nav .social a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
}

aside.nav nav {
  width: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-weight: 300;
}

aside.nav nav a {
  display: block;
  margin: 7px auto;
}

aside.nav nav a.active {
  background-color: #fff4f4;
}

aside.nav div {
  padding: 30px 5px;
}

aside.nav div h2 {
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 0;
}

@media (min-width:768px) {
  aside.nav {
    height: 100vh;
    min-height: 500px;
    width: 235px;
    float: left;
    position: fixed;
    z-index: 10;
    top: 0;
  }
}

