@media (min-width:768px) {
  aside.nav {
    height: 100vh;
    min-height: 500px;
    width: 235px;
    float: left;
  }
}

aside.nav {
  padding: 20px;
  position: fixed;
  z-index: 10;
  top: 0;
  overflow: hidden;
  transition: .3s all ease;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

aside.nav nav {
  width: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-weight: 300;
}

aside.nav nav a {
  text-decoration: none;
  display: block;
  margin: 7px auto;
  transition: all .3s;
  color: #000;
}

aside.nav nav a.active {
  background-color: #fff4f4;
}

aside.nav div {
  padding: 30px 5px;
}

aside.nav div h2 {
  font-weight: 300;
  font-size: 0.8em;
}
